In [1]:
# Replace - Pandas Python Tutorial

######################################################

import pandas as pd

some_data = [1,"NA",3,4,5,"NA",7,8,"NA",10]

print(some_data)

some_data = pd.DataFrame(some_data)

print(some_data)

some_data = some_data.replace("NA",999999999)

print(some_data)

[1, 'NA', 3, 4, 5, 'NA', 7, 8, 'NA', 10]
    0
0   1
1  NA
2   3
3   4
4   5
5  NA
6   7
7   8
8  NA
9  10
           0
0          1
1  999999999
2          3
3          4
4          5
5  999999999
6          7
7          8
8  999999999
9         10